nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  width: 100vw;
  z-index: 3;
  background-color: #4056A1;
  padding: 1.5em;
}

nav span {
  font-family: 'Bungee', sans-serif;
  color: #ffffff;
}

.write {
  float: right;
}

.arrow {
  margin-right: 115px;
  float: right;
  outline: none;
  border: none;
  background-color: transparent;
  animation: bounce 1.2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {margin-top: 0px; color: rgba(255, 166, 0, 0.829);}
  50% {margin-top: 18px; color: rgba(255, 60, 0, 0.829);}
  100% {margin-top: 0px; color: rgba(255, 166, 0, 0.829);}
}